.card{
    margin-right: 40px;
    width: 210px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 40px;  
    transition: all 0.1s ease-in-out;
    justify-content: center;
    padding: 30px;
    &:hover{
      box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
      transform: translateY(-5px);
    }
    p{
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    }
    h4{
      font-weight: 400;
      font-size: 13px;
      color: #000000;
      }
    .unlikeItom{
      position:absolute;
      cursor: pointer;
    }
    .downCard{
      display: flex;
      justify-content: space-between;
      align-content: center;
      p, span{
        margin: 0;
      }
      span{
        font-weight: 500;
        font-size: 11px;
        text-transform: uppercase;
        color: #BDBDBD;
      }
      p{
        font-weight: 700;
        font-size: 14px;
        color: #000000;
      }
  
    }
  }
  .plus{
    width: 32px;
    height: 32px;
    cursor: pointer;
  }